<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>base_url</key>
	<string>https://doorkeeper-provider.herokuapp.com/</string>
	<key>callback_url</key>
	<string>http://doorkeeper-devise.herokuapp.com/users/auth/doorkeeper/callback</string>
	<key>token_path</key>
	<string>oauth/token</string>
	<key>auth_path</key>
	<string>oauth/authorize</string>
	<key>client_secret</key>
	<string>4d4594c8d3c5422961fffc41e9a66c8f7ad9aa8d686253da5dbb49c09941b488</string>
	<key>client_key</key>
	<string>ab49b9ad35b35e7f201b7adbd24178494523b24aebfbebd3ba193cf64eed9a31</string>
</dict>
</plist>
