<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callback_url</key>
	<string>http://doorkeeper-client.herokuapp.com/users/auth/doorkeeper/callback</string>
	<key>token_url</key>
	<string>https://doorkeeper-provider.herokuapp.com/oauth/token</string>
	<key>auth_url</key>
	<string>https://doorkeeper-provider.herokuapp.com/oauth/authorize</string>
	<key>client_secret</key>
	<string>0dd5e8ed8f77007d9ed390f8cc30a760e5f8fe38e39e851f5053a70f61f4db3a</string>
	<key>client_key</key>
	<string>715df16e33a4a6890230bc38be8be36f0f5eb5b93fe088aebf061402d40e15ab</string>
</dict>
</plist>
